
 * {
            box-sizing: border-box;
            border-radius: 5px;
           
        }
        body {
            font-family: Verdana, sans-serif;
            margin: 0;
            padding: 10px;
            background-color: white;
            color: black;
        }
     
        .menu {
            float: left;
            width: 10%;
            padding: 10px;
        }
        .menuitem {
            padding: 8px;
            margin-top: 7px;
            border-bottom: 1px solid lightblue;
        }
        .main {
            float: left;
            width: 80%;
            padding: 20px;
            overflow: hidden;
              /*ortadaki div sayfası ortalanmasını sağlıyor*/
        }
        .right {
            background-color: lightblue;
            float: right;
            width: 10%;
            padding: 20px;
            margin-top: 7px;
             /*sağdaki div sayfasının içinde renklendirme */
        }
        details > summary {
            padding: 4px;
            background-color: lightblue;
            border: none;
            box-shadow: 1px 1px 2px #000000;
            cursor: pointer;
            /*soldaki div sayfası çevresine renklendirme */
        }
        
      
        .dark-mode {
            background-color: black;
            color: white;
        }

        .light-mode {
            background-color: white;
            color: black;
        }

