
 * {
            box-sizing: border-box;
            border-radius: 5px;
        }

        /* web sitede görünen kısım*/
        body {
            font-family: Verdana, sans-serif;
            margin: 0;
            background-color: white;
            color: black;
        }

     /*sol taraftaki div diğer web sitelere gidiyor*/
        .menu {
            float: left;
            width: 10%;
            padding: 10px;
        }

        /*ortadaki div bilgi veriyor*/
        .main {
            float: left;
            width: 80%;
            padding: 20px;
            text-align: center;
              /*ortadaki div sayfası ortalanmasını sağlıyor*/
        }
 
        /*sağdaki div başlıklara gidiyor butonlar*/
        .right {
            position: fixed;
           /* top: 169px;  Ãœstten uzaklÄ±k */
            right: 0px; /* SaÄŸdan uzaklÄ±k */
            background-color: lightblue;
            padding: 10px;
            border: 1px solid #ccc;
            width: 178px;
             /*sağdaki div sayfasının içinde renklendirme */
        }

        details > summary {
            padding: 4px;
            background-color: lightblue;
            border: none;
            box-shadow: 1px 1px 2px #000000;
            cursor: pointer;
            /*soldaki div sayfası çevresine renklendirme */
        }
        
        .dark-mode {
            background-color: black;
            color: white;
          /*web siteyi siyah yapmak için */
        }

        .light-mode {
            background-color: white;
            color: black;
         /*web siteyi beyaz yapmak için*/
        }
        
        summary{
            color: black;
         /*soldaki divin içindeki summary siyah yapmak için*/
        }

        .siyah{
            color: #000;
         /*en üsteki divin içindeki yazıları siyah yamak için*/
        }
       

         .right p a {
            color: #000000;    
         }

        a{
            color: black;
        }

        .en_yukardaki{
            position: relative;
            width: 100%;
            background-color: lightblue;
            padding: 15px;
        }

        .en_yukardaki > h3 {
            top: 15px;
            right: 0px;
            
        }
        
        .en_yukardaki > button {
          position: relative;
            margin-top: 0px;
            right: 0px;
       }

       .en_yukardaki>.siyah1{
        left: 785px;
        position: absolute; 
       }

       .en_yukardaki>.siyah2{
        left: 690px;
        top:  75px;
        position: absolute;
       }
      