*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh; 
    justify-items: center;
    align-items: center;
    background-color: #fff;
}
.dark-mode{
    background-color: #000;
}
.toggle-btn{
    position: relative;
    height: 50px;
    width: 120px;
    cursor: pointer;
    background-color: #ddd;
    border-radius: 100px;
    transition: all 0.5s ease;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4)
}

.toggle-btn.active{
 background-color: #000;
}

.toggle-btn:active::after{
/*Bu kodda normade uzuyor ama olmuyor*/
    width: 500px;
  }

.toggle-btn .icon{
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    height:35px;
    width: 37px;
    font-size: 30px;
    color: #999;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
}
.toggle-btn.active .icon{
left: calc(100% - 25px - 20px);
color: #000;
}

.toggle-btn:active:after{
    width: 50px;
  }